In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
path = '/content/drive/My Drive/Project - CIS 550'

# Getting businesses and corresponding categories

In [ ]:
biz_df = pd.read_csv(path+"/business_data.csv")
display(biz_df.dtypes)
display(biz_df)

business_id      object
name             object
neighborhood     object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
is_open           int64
categories       object
dtype: object

                  business_id  ...                                         categories
0      PfOCPjBrlQAnz__NXj9h_w  ...  American (New);Nightlife;Bars;Sandwiches;Ameri...
1      o9eMRCWt5PkpLDE0gOPtcQ  ...                                Italian;Restaurants
2      fNMVV_ZX7CJSDWQGdOM8Nw  ...                 Restaurants;American (Traditional)
3      Gu-xs3NIQTj3Mj2xYoN2aw  ...                   French;Food;Bakeries;Restaurants
4      1K4qrnfyzKzGgJPBEcJaNQ  ...       Tiki Bars;Nightlife;Mexican;Restaurants;Bars
...                       ...  ...                                                ...
40389  Ls_nR1MEcsOw5KuTlh0dfQ  ...  Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...
40390  fukaxeFh8W9ijOp8sCrDyA  ...                                Seafood;Restaurants
40391  FxtrmM1a_0jcNnxiEF_Emg  ...                            Restaurants;Beer Garden
40392  yJH_gq99aEj8xtyBaAQH8Q  ...                                 German;Restaurants
40393  UdEmYOnk2iJDY9lpEPAlJQ  ...  Pizza;Event Planning & Services;Italian;Catere...

[40394 rows x 13 columns]

In [ ]:
biz_df.business_id = biz_df.business_id.astype(str)

In [ ]:
biz_cat_raw = biz_df.loc[:,['business_id','categories']]
biz_cat_raw['categories'] = biz_cat_raw_1.apply(lambda x: x['categories'].split(';'),axis=1)
biz_cat_df = biz_cat_raw.explode('categories').astype(str)
display(biz_cat_df)

                  business_id                 categories
0      PfOCPjBrlQAnz__NXj9h_w             American (New)
0      PfOCPjBrlQAnz__NXj9h_w                  Nightlife
0      PfOCPjBrlQAnz__NXj9h_w                       Bars
0      PfOCPjBrlQAnz__NXj9h_w                 Sandwiches
0      PfOCPjBrlQAnz__NXj9h_w     American (Traditional)
...                       ...                        ...
40393  UdEmYOnk2iJDY9lpEPAlJQ                      Pizza
40393  UdEmYOnk2iJDY9lpEPAlJQ  Event Planning & Services
40393  UdEmYOnk2iJDY9lpEPAlJQ                    Italian
40393  UdEmYOnk2iJDY9lpEPAlJQ                   Caterers
40393  UdEmYOnk2iJDY9lpEPAlJQ                Restaurants

[162117 rows x 2 columns]

In [ ]:
biz_cat_df.to_csv(path+"/BusinessCategories.csv")

In [ ]:
biz_df.drop(columns=['neighborhood','review_count','is_open','categories'],inplace=True)
biz_df.name = biz_df.name.apply(lambda x: x[1:-1])
biz_df.address = biz_df.address.apply(lambda x: x[1:-1])
display(biz_df)

                  business_id                        name  ...   longitude stars
0      PfOCPjBrlQAnz__NXj9h_w    Brick House Tavern + Tap  ...  -81.475690   3.5
1      o9eMRCWt5PkpLDE0gOPtcQ                     Messina  ...    9.147950   4.0
2      fNMVV_ZX7CJSDWQGdOM8Nw  Showmars Government Center  ...  -80.839345   3.5
3      Gu-xs3NIQTj3Mj2xYoN2aw   Maxim Bakery & Restaurant  ...  -79.412662   3.5
4      1K4qrnfyzKzGgJPBEcJaNQ      Chula Taberna Mexicana  ...  -79.335902   3.5
...                       ...                         ...  ...         ...   ...
40389  Ls_nR1MEcsOw5KuTlh0dfQ         Cole's Public House  ...  -82.226472   4.5
40390  fukaxeFh8W9ijOp8sCrDyA       Heritage Fish & Chips  ...  -79.799411   4.0
40391  FxtrmM1a_0jcNnxiEF_Emg                   Badgarten  ...    9.201470   3.0
40392  yJH_gq99aEj8xtyBaAQH8Q                  Otto Onkel  ...    9.166086   3.0
40393  UdEmYOnk2iJDY9lpEPAlJQ   Floridino's Pizza & Pasta  ... -111.859604   4.0

[40394 rows x 9 columns]

In [ ]:
biz_df.to_csv(path+'/Restaurants.csv')

# Dishes Analysis

In [ ]:
dish_df = pd.read_csv(path+"/raw_dish_data.csv")
dish_df

                   restaurant                                             dishes
0      PfOCPjBrlQAnz__NXj9h_w  ['Drunken Pork Chops', 'Brick House Famous BBQ...
1      o9eMRCWt5PkpLDE0gOPtcQ                                                NaN
2      fNMVV_ZX7CJSDWQGdOM8Nw                                                NaN
3      Gu-xs3NIQTj3Mj2xYoN2aw                                                NaN
4      1K4qrnfyzKzGgJPBEcJaNQ  ['Shrimp Tacos', 'Churros', 'Fish Tacos', 'Bee...
...                       ...                                                ...
40389  Ls_nR1MEcsOw5KuTlh0dfQ  ['Baked Goat', 'Meatloaf', 'Fried Corn Fritter...
40390  fukaxeFh8W9ijOp8sCrDyA                                                NaN
40391  FxtrmM1a_0jcNnxiEF_Emg                                                NaN
40392  yJH_gq99aEj8xtyBaAQH8Q                                                NaN
40393  UdEmYOnk2iJDY9lpEPAlJQ                                                NaN

[40394 rows x 2 columns]

In [ ]:
dish_df.drop_duplicates(inplace=True)
dish_df.dropna(inplace=True)
dish_df['dishes'] = dish_df['dishes'].apply(lambda x: x[1:-1].split(", "))
served_at = dish_df.explode('dishes').drop_duplicates()
served_at['dishes'] = served_at['dishes'].apply(lambda x: x[1:-1])
served_at

                   restaurant                       dishes
0      PfOCPjBrlQAnz__NXj9h_w           Drunken Pork Chops
0      PfOCPjBrlQAnz__NXj9h_w  Brick House Famous BBQ Ribs
0      PfOCPjBrlQAnz__NXj9h_w                  Turkey Club
0      PfOCPjBrlQAnz__NXj9h_w                Avocado Toast
4      1K4qrnfyzKzGgJPBEcJaNQ                 Shrimp Tacos
...                       ...                          ...
40389  Ls_nR1MEcsOw5KuTlh0dfQ                     Meatloaf
40389  Ls_nR1MEcsOw5KuTlh0dfQ          Fried Corn Fritters
40389  Ls_nR1MEcsOw5KuTlh0dfQ              Pasta Carbonara
40389  Ls_nR1MEcsOw5KuTlh0dfQ            French Onion Soup
40389  Ls_nR1MEcsOw5KuTlh0dfQ                      Ravioli

[76735 rows x 2 columns]

In [ ]:
dish_df_final = served_at.dishes.drop_duplicates().reset_index().dishes.reset_index()
dish_df_final

       index                                         dishes
0          0                             Drunken Pork Chops
1          1                    Brick House Famous BBQ Ribs
2          2                                    Turkey Club
3          3                                  Avocado Toast
4          4                                   Shrimp Tacos
...      ...                                            ...
27267  27267                                      Okra Stew
27268  27268                               Mexican Plate #1
27269  27269                        Cheese Dip with Chorizo
27270  27270  Two Beef Enchiladas and One Cheese Quesadilla
27271  27271                            Fried Corn Fritters

[27272 rows x 2 columns]

In [ ]:
served_at_final = served_at.merge(dish_df_final,on='dishes').loc[:,['restaurant','index']]
served_at_final

                   restaurant  index
0      PfOCPjBrlQAnz__NXj9h_w      0
1      PfOCPjBrlQAnz__NXj9h_w      1
2      PfOCPjBrlQAnz__NXj9h_w      2
3      ET8WuErpImo0zxS673gLxw      2
4      o9nGD3J0btXjE9M6IdgZTA      2
...                       ...    ...
76730  U66Hketxx9udNd3dMmfPQA  27267
76731  vpwyL6NHm-pTWJ5IeJb9yw  27268
76732  vpwyL6NHm-pTWJ5IeJb9yw  27269
76733  vpwyL6NHm-pTWJ5IeJb9yw  27270
76734  Ls_nR1MEcsOw5KuTlh0dfQ  27271

[76735 rows x 2 columns]

In [ ]:
dish_df_final.to_csv(path+'/Database_Data/Dishes.csv')
served_at_final.to_csv(path+'/Database_Data/ServedAt.csv')

In [ ]:
served_at_final.drop_duplicates()

                   restaurant  index
0      PfOCPjBrlQAnz__NXj9h_w      0
1      PfOCPjBrlQAnz__NXj9h_w      1
2      PfOCPjBrlQAnz__NXj9h_w      2
3      ET8WuErpImo0zxS673gLxw      2
4      o9nGD3J0btXjE9M6IdgZTA      2
...                       ...    ...
76730  U66Hketxx9udNd3dMmfPQA  27267
76731  vpwyL6NHm-pTWJ5IeJb9yw  27268
76732  vpwyL6NHm-pTWJ5IeJb9yw  27269
76733  vpwyL6NHm-pTWJ5IeJb9yw  27270
76734  Ls_nR1MEcsOw5KuTlh0dfQ  27271

[76735 rows x 2 columns]

# Entity Resolution for Dishes-Recipes

In [ ]:
dishes = pd.read_csv(path+'/Database_Data/Dishes.csv').iloc[:,1:]
recipes = pd.read_csv(path+'/Database_Data/Recipes.csv').iloc[:,1:]

In [ ]:
dishes

       index                                         dishes
0          0                             Drunken Pork Chops
1          1                    Brick House Famous BBQ Ribs
2          2                                    Turkey Club
3          3                                  Avocado Toast
4          4                                   Shrimp Tacos
...      ...                                            ...
27267  27267                                      Okra Stew
27268  27268                               Mexican Plate #1
27269  27269                        Cheese Dip with Chorizo
27270  27270  Two Beef Enchiladas and One Cheese Quesadilla
27271  27271                            Fried Corn Fritters

[27272 rows x 2 columns]

In [ ]:
recipes

            id  ...                                        description
0       137739  ...  autumn is my favorite time of year to cook! th...
1        31490  ...  this recipe calls for the crust to be prebaked...
2       112140  ...  this modified version of 'mom's' chili was a h...
3        59389  ...  this is a super easy, great tasting, make ahea...
4        44061  ...  my dh's amish mother raised him on this recipe...
...        ...  ...                                                ...
231632  486161  ...  this is a delicious soup that i originally fou...
231633  493372  ...    this spice mix will make your taste buds dance!
231634  308080  ...                          deviled eggs, cajun-style
231635  298512  ...  i've heard of the 'cookies by design' company,...
231636  298509  ...  i've heard of the 'cookies by design' company,...

[231637 rows x 3 columns]

In [ ]:
!pip install py_stringmatching
!pip install py_stringsimjoin

Collecting py_stringmatching
  Downloading https://files.pythonhosted.org/packages/90/d1/9163e0b0ac3bbb0f727ef8d380985c23066fb98d5005a34483ad76da06b4/py_stringmatching-0.4.2.tar.gz (661kB)
     |ââââââââââââââââââââââââââââââââ| 665kB 9.6MB/s
Requirement already satisfied: numpy>=1.7.0 in /usr/local/lib/python3.6/dist-packages (from py_stringmatching) (1.18.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from py_stringmatching) (1.15.0)
Building wheels for collected packages: py-stringmatching
  Building wheel for py-stringmatching (setup.py) ... done
  Created wheel for py-stringmatching: filename=py_stringmatching-0.4.2-cp36-cp36m-linux_x86_64.whl size=2054260 sha256=4b1c282788cec763fbc1db978994c6b724ad50876e733f93a9d0b7cda1025cde
  Stored in directory: /root/.cache/pip/wheels/be/8c/5d/bcdaf17d0784738b73e856ebc4061cd3f2509753a83dd71058
Successfully built py-stringmatching
Installing collected packages: py-stringmatching
Successfully installed py-stringmatching-0.4.2
Collecting py_stringsimjoin
  Downloading https://files.pythonhosted.org/packages/69/f8/343a7277ce5952a923302bb29ac547a2e3eab45965fdf40a7dd43ed058ef/py_stringsimjoin-0.3.2.tar.gz (1.1MB)
     |ââââââââââââââââââââââââââââââââ| 1.1MB 9.7MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from py_stringsimjoin) (0.17.0)
Requirement already satisfied: pandas>=0.16.0 in /usr/local/lib/python3.6/dist-packages (from py_stringsimjoin) (1.1.5)
Collecting PyPrind>=2.9.3
  Downloading https://files.pythonhosted.org/packages/1e/30/e76fb0c45da8aef49ea8d2a90d4e7a6877b45894c25f12fb961f009a891e/PyPrind-2.11.2-py3-none-any.whl
Requirement already satisfied: py_stringmatching>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from py_stringsimjoin) (0.4.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from py_stringsimjoin) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (1.18.5)
Building wheels for collected packages: py-stringsimjoin
  Building wheel for py-stringsimjoin (setup.py) ... done
  Created wheel for py-stringsimjoin: filename=py_stringsimjoin-0.3.2-cp36-cp36m-linux_x86_64.whl size=3747807 sha256=e7427a24377ff27a82863ae988d725479213e11e148d6d06c3442681d4d9831d
  Stored in directory: /root/.cache/pip/wheels/58/30/8e/6fa463100ff6e8595b131067ec43a118c607f621ac297e7dad
Successfully built py-stringsimjoin
Installing collected packages: PyPrind, py-stringsimjoin
Successfully installed PyPrind-2.11.2 py-stringsimjoin-0.3.2

In [ ]:
from  py_stringmatching.tokenizer.qgram_tokenizer import QgramTokenizer
from py_stringsimjoin.join.jaccard_join import jaccard_join

In [ ]:
tknzr = QgramTokenizer(qval=5,padding=True)
dishes["dishes"] = dishes.dishes.apply(lambda x: x.lower())
recipes["name"] = recipes.name.astype(str).apply(lambda x: x.lower())

In [ ]:
#Threshold for jaccard similarity
thresh = .4

answer_df = jaccard_join(dishes, recipes, "index", "id",
                         "dishes", "name", tknzr, thresh,
                          l_out_attrs=["dishes"], 
                          r_out_attrs=["name"], n_jobs=-1, 
                          l_out_prefix="dishes_",r_out_prefix="recipes_",
                         show_progress=True)\
                          .drop_duplicates()
display(answer_df)

          _id  dishes_index  ...                 recipes_name _sim_score
0           0          9824  ...        aww  marinated olives   0.425000
1           1           479  ...               chile rellenos   0.590909
2           2          1994  ...               chile rellenos   0.433333
3           3          4711  ...               chile rellenos   1.000000
4           4          5656  ...               chile rellenos   0.818182
...       ...           ...  ...                          ...        ...
59782  136032          4066  ...  zwicker inn seafood chowder   0.428571
59783  136033         10822  ...  zwicker inn seafood chowder   0.404762
59784  136034         20086  ...  zwicker inn seafood chowder   0.425000
59785  136035         27068  ...  zwicker inn seafood chowder   0.400000
59786  136036          6901  ...           zydeco shrimp wrap   0.400000

[136037 rows x 6 columns]

In [ ]:
RecipeOf = answer_df[['dishes_index','recipes_id']].drop_duplicates()
RecipeOf

       dishes_index  recipes_id
0              9824       25274
1               479       43026
2              1994       43026
3              4711       43026
4              5656       43026
...             ...         ...
59782          4066      167009
59783         10822      167009
59784         20086      167009
59785         27068      167009
59786          6901      188810

[136037 rows x 2 columns]

In [ ]:
answer_df.iloc[102000:102100]

          _id  dishes_index  ...                 recipes_name _sim_score
25750  102000         18676  ...  roasted turkey pesto panini   0.542857
25751  102001            63  ...          roasted turkey wrap   0.407407
25752  102002          1192  ...          roasted turkey wrap   0.416667
25753  102003          1535  ...          roasted turkey wrap   0.428571
25754  102004          2646  ...          roasted turkey wrap   0.441176
...       ...           ...  ...                          ...        ...
25845  102095           931  ...      rock band tuna sandwich   0.457143
25846  102096          1154  ...      rock band tuna sandwich   0.419355
25847  102097          1159  ...      rock band tuna sandwich   0.411765
25848  102098         11393  ...      rock band tuna sandwich   0.416667
25849  102099         21622  ...      rock band tuna sandwich   0.411765

[100 rows x 6 columns]

In [ ]:
RecipeOf.recipes_id.nunique()

46768

In [ ]:
RecipeOf.dtypes

dishes_index    int64
recipes_id      int64
dtype: object

In [ ]:
RecipeOf.to_csv(path+'/Database_Data/RecipeOf.csv')